footer.l-footer.p-footer
  .l-spacer.-footerBody
    .l-container
      .p-footer__body
        .p-footer__company
          .p-footer__logo
            a.p-footer__logo-link
          ul.p-footer__address
            li.p-footer__address-item 〒000-0000
            li.p-footer__address-item 北海道札幌市無無市無無区0-00
        .p-footer__info
          ul.c-grid.-gutter.p-footer__info-list
            li.c-grid__item.-sp12Of12.-tab6Of12.p-footer__info-item
              a(href=pages.home.path) ホーム
            li.c-grid__item.-sp12Of12.-tab6Of12.p-footer__info-item
              a(href=pages.about.path) 私たちについて
            li.c-grid__item.-sp12Of12.-tab6Of12.p-footer__info-item
              a(href=pages.works.path) 実績
            li.c-grid__item.-sp12Of12.-tab6Of12.p-footer__info-item
              a(href=pages.services.path) サービス
            li.c-grid__item.-sp12Of12.-tab6Of12.p-footer__info-item
              a(href=pages.news.path) お知らせ
            li.c-grid__item.-sp12Of12.-tab6Of12.p-footer__info-item
              a(href=pages.contact.path) お問い合わせ
  .l-spacer
    .p-footer__bottom
      .l-container
        .p-footer__copy
          small copyright@webweb
